<a href="https://colab.research.google.com/github/JoviTech/Sklearn/blob/main/Introdu%C3%A7%C3%A3o_ao_Machine_Learning_Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [3]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [5]:
mapa = {
    "home" : "Inicio",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "compras"

}

dados = dados.rename(columns = mapa)

   Inicio  como_funciona  contato  compras
0       1              1        0        0
1       1              1        0        0
2       1              1        0        0
3       1              1        0        0
4       1              1        0        0

In [7]:
  x = dados[["Inicio", "como_funciona", "contato"]]
  x.head()

   Inicio  como_funciona  contato
0       1              1        0
1       1              1        0
2       1              1        0
3       1              1        0
4       1              1        0

In [8]:
y = dados["compras"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: compras, dtype: int64

In [9]:
dados.shape

(99, 4)

In [11]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

Treinaremos com 75 elementos e testaremos com 24 elementos

In [16]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) *100
print(f"A acurácia foi de {acuracia:,.2f}")

A acurácia foi de 95.83

**Usando a biblioteca para treino e teste**

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) *100
print(f"A acurácia foi de {acuracia:,.2f}")

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi de 96.00

In [35]:
treino_y.value_counts()

0    47
1    27
Name: compras, dtype: int64

In [36]:
teste_y.value_counts()

0    19
1     6
Name: compras, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, test_size = 0.25,
                                                        stratify = y)
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) *100
print(f"A acurácia foi de {acuracia:,.2f}")

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi de 96.00

In [41]:
treino_y.value_counts()

0    49
1    25
Name: compras, dtype: int64

In [42]:
teste_y.value_counts()

0    17
1     8
Name: compras, dtype: int64